:root {
  --primary-red: #a80000;
  --light-pink: #fde9e9;
  --chat-header: #f5a1a1bb;
  --soft-gray: #f9f9f9;
  --text-dark: #333;
  --text-light: #fff;
  --font-family: 'Segoe UI', sans-serif;
}


body {
  font-family: var(--font-family);
  background-color: var(--soft-gray);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 100 100'%3E%3Cg fill='%23f5a1a1' opacity='0.1'%3E%3Ccircle cx='20' cy='20' r='5' /%3E%3Ccircle cx='80' cy='20' r='5' /%3E%3Ccircle cx='50' cy='50' r='5' /%3E%3Ccircle cx='20' cy='80' r='5' /%3E%3Ccircle cx='80' cy='80' r='5' /%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 120px 120px;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: var(--text-dark);
}
#app {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 100 100'%3E%3Cg fill='%23f5a1a1' opacity='0.1'%3E%3Ccircle cx='20' cy='20' r='5' /%3E%3Ccircle cx='80' cy='20' r='5' /%3E%3Ccircle cx='50' cy='50' r='5' /%3E%3Ccircle cx='20' cy='80' r='5' /%3E%3Ccircle cx='80' cy='80' r='5' /%3E%3C/g%3E%3C/svg%3E");
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 64 64'%3E%3Cpath fill='%23f5a1a1' opacity='0.1' d='M32 4c-12 0-20 8-20 18 0 6 3 11 7 14v12c0 4 4 8 9 8h8c5 0 9-4 9-8V36c4-3 7-8 7-14 0-10-8-18-20-18zM24 22c0-2 2-4 4-4h8c2 0 4 2 4 4v4c0 2-2 4-4 4h-8c-2 0-4-2-4-4v-4z' /%3E%3C/svg%3E");*/
  background-attachment: fixed;

}
